; Copiare accanto all'eseguibile rinominandolo Zonico.ini
; Firebird 2.5 - connessione FireDAC (DriverID=FB)
[DATABASE]
; Percorso del file .FDB sul server
Database=C:\Zonico\ZONICO.FDB
User_Name=SYSDBA
Password=masterkey
; TCPIP per Firebird server, Local per embedded (fbembed.dll)
Protocol=TCPIP
Server=localhost
Port=3050
CharacterSet=ISO8859_1
; Client Firebird 2.5 da usare; se vuoto viene cercato fbclient.dll nel PATH
VendorLib=
